/* white box top */
.white_box_top {
  z-index:1;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 3.5vh;
  background-color: #ffffff;
}

/* white box bottom */
.white_box_bottom {
  z-index:1;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 2vh;
  background-color: #ffffff;
}

/* bottom navigation bar */
.navbar_bottom {
  overflow: hidden;
  background-color: #45B0B0;
  position: fixed; 
  bottom: 1vh;
  right: 0.5%;
  left: 0.5%;
  width: 99%;
  height: 2vh;
  border-radius: 30px;
}

/* top navigation bar */
.navbar_top {
  z-index:2;
  background-color: #45B0B0 !important;  /* increase specificity */
  position: fixed;
  top: 1vh;
  right: 0.5%;
  left: 0.5%;
  width: 99%;
  height: 6vh;
  border-radius: 30px;
}

/* navbar container */
.navbar_top .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/* navbar logo */
.navbar_top .logo {
  font-family: 'Roboto Slab';
  color: #000000;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  font-size: 20px;
  font-weight: bold;
  margin: 30px;
}

/* search bar block */
.navbar_top .search-bar {
  width: 50%;
  border-radius: 30px;
  background-color:#ffffff;
  border: 1px #000000 solid;
}

/* search bar */
.navbar_top .search-bar .form-control {
  border-radius: 0px 0px 0px 0px;
  border-width: 0px;
  border-left: 1px #000000 solid;
  border-top: 0px;
  border-bottom: 0px;
}

/* 'go' button */
.navbar_top .search-bar .go-button{
  color: #ffffff;
  background-color:#303030;
  border-width: 0;
  border-radius: 30px;
  width: 120px;
}

/* dropdown button */
.navbar_top .search-bar .dropdown-toggle {
  border-radius: 30px 0 0 30px;
  border-width: 0;
  width: 100%;
  height: 100%;
  background-color: #D9D9D9;
  color: #000000;
  padding-right: 30px;
}

/* dropdown menu */
.navbar_top .search-bar .dropdown-menu {
  font-family: 'Roboto Slab';
  min-width: 100%;
  left: 0;
  margin: 5px;
  border-radius: 15px 15px 15px 15px;
}

/* button group */
.navbar_top .float-end {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* buttons */
.btn-primary {
  background-color: #D9D9D9;
  color: #000000;
  border-color:#000000;
  border-radius: 30px;
}

/* button hover colour */
.btn-primary:hover{
  background: #303030;
  border-color:#000000;
}

/* main content */
.main {
  font-family: 'Roboto Slab';
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  margin-top: 10vh;
  margin-bottom: 5vh;
  text-align: center;
}

/* books page links */
.card-body .link {
  font-family: 'Roboto Slab';
  text-align: center;
  text-decoration: none;
  color: #000000;
  display: grid;
  justify-content: center;
}

/* item */
.item {
  font-family: 'Roboto Slab';
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 90px;
  text-align: left;
}

/* book image on items page */
.books .image {
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 5px;
  height: 350px;
  width: 250px;
}

/* book image on homepage */
.featured .image {
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 2px;
  height: 250px;
  width: 175px;
}

/* container holding the image and the text - items page */
.books .noimage {
  position: relative;
  text-align: center;
  color: #ffffff;
}

/* centered text on no image - items page */
.books .noimage .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  color: #000000;
}

/* container holding the image and the text - homepage */
.featured .noimage {
  position: relative;
  text-align: center;
  color: #ffffff;
}

/* centered text on no image - homepage */
.featured .noimage .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  color: #000000;
}

/* book image on book page */
.item .image {
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
}

/* container holding the image and the text - book page */
.item .noimage {
  position: relative;
  text-align: left;
  color: #ffffff;
}

/* centered text on no image - book page */
.item .noimage .centered {
  position: absolute;
  top: 45%;
  left: 40%;
  z-index: 0;
  color: #000000;
}

/* custom columns on book page */
.item .custom-column {
  height: 85vh;
  overflow: auto;
}

/* dropdown button for listing */
.list .dropdown-toggle {
  border-radius: 30px;
  border-width: 1;
  width: 100%;
  background-color: #D9D9D9;
  color: #000000;
  padding-right: 30px;
}

/* dropdown menu for listing */
.list .dropdown-menu {
  font-family: 'Roboto Slab';
  min-width: 100%;
  left: 0;
  margin: 5px;
  border-radius: 15px 15px 15px 15px;
}

/* list book button and little boxes */
.list-features {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 9vh;
  border: 5px solid #45b0b0;
  border-radius: 10px;
  font-size: 36px;
  width: 100%;
  padding-left: 10px;
}

/* hides the file input itself */
.file-upload-input {
  position: absolute;
  font-size: 100px;
  opacity: 0;
  right: 0;
  top: 0;
}

/* the custom button to trigger the file input */
.file-upload-button {
  background-color: #d9d9d9;
  border: 1px #000000 solid;
  color: #000000;
  padding: 10px;
  border-radius: 50px;
  width: 60%;
  cursor: pointer;
}

/* the text inside the custom button */
.file-upload-button-label {
  font-size: 16px;
}

/* style the container that holds the file input */
.file-upload-container {
  text-align: center;
}

/* style the image preview */
#image-preview {
  max-width: 100%;
  max-height: 50vh;
}

/* custom columns on list page */
.list .custom-column {
  background-color: #ffffff;
  border: 5px solid #45b0b0;
}

/* background on list page */
.list {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  margin-top: 8vh;
  margin-bottom: 4vh;
  font-family: 'Roboto Slab';
  background-color: #f4f4f4;
  border: 0.5vh solid #D9D9D9;
  border-radius: 10px;
  padding: 2vh;
  height: 88vh;
}

/* custom columns - default */
.custom-column {
  background-color: #f4f4f4;
  border: 5px solid #D9D9D9;
  border-radius: 10px;
  padding: 20px;
  height: 630px;
  display: flex;
  flex-direction: column;
}

/* custom columns - basket */
.basket .custom-column {
  min-height: 75vh;
  height: auto;
}

/* allows custom column to grow */
.custom-column:empty::before {
  content: "\200B";
  flex: 1;
}

/* custom rows */
.custom-row {
  background-color: #ffffff;
  border: 5px solid #45b0b0;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* basket left content (image) */
.left-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* custom row image */
.custom-row .image {
  border: 5px solid #45b0b0;
  border-radius: 10px;
  height: 12vh;
  width: 8vh;
}

/* container holding the image and the text - book page */
.custom-row .noimage {
  position: relative;
  text-align: left;
  color: #ffffff;
  height: 12vh;
  width: 8vh;
}

/* centered text on no image - book page */
.custom-row .noimage .centered {
  position: absolute;
  top: 40%;
  left: 10%;
  font-size: 10pt;
  z-index: 0;
  color: #000000;
}

/* basket name */
.title {
  padding-left: 20px;
  text-overflow: ellipsis;
  text-align: left;
  width: 30vw;
}

/* basket name */
.category-type {
  flex: 3;
  margin-right: 40%;
  text-align: right;
  width: 30vw;
}

/* basket price */
.price {
  flex: 3;
}

/* message date */
.date {
  flex: 0;
  white-space: nowrap;
}

/* basket remove button */
.remove {
  margin-right: 5%;
  font-size: 50pt;
}

/* books page links */
.link {
  font-family: 'Roboto Slab';
  text-decoration: none;
  color: #000000;
}

.pill-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  border: 5px #D9D9D9 solid;
  color: #000000;
  padding: 10px 15px;
  border-radius: 50px;
  width: 30%;
}

.price {
  font-size: 18px;
  margin-right: 10px;
}

/* custom columns */
.custom-column .bottom{
  position: fixed;
  text-align: center;
  bottom: 80px;
  left: 50vw;
  transform: translate(-50%, 0%);
}

/* list book button and submit button */
.btn-list {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 2vh;
  min-height: 9vh;
  background-color: #45B0B0;
  border: 5px solid #303030;
  border-radius: 10px;
  font-size: 35px;
}

/* account info button */
.top-btn {
  position: relative;
  display: flex;
  flex-direction: column;
  bottom: 2vh;
  min-height: 5vh;
  background-color: #303030;
  border: 5px solid #000000;
  color: #ffffff;
  border-radius: 10px;
  font-size: 35px;
}

/* message modal */
.modal {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 30vh;
  overflow: auto;
  border-radius: 5px;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* modal content */
.modal-content {
  position: relative;
  background-color: #ffffff;
  margin: auto;
  padding: 0;
  border: 5px solid #000000;
  border-radius: 20px;
  width: 80%;
  -webkit-animation-name: animateIn;
  -webkit-animation-duration: 0.5s;
  animation-name: animateIn;
  animation-duration: 0.5s
}

/* animation */
@-webkit-keyframes animateIn {
  from {opacity:0} 
  to {opacity:1}
}

@keyframes animateIn {
  from {opacity:0} 
  to {opacity:1}
}

/* close button */
.close {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/* acts as inert button */
.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* modal header */
.modal-header {
  padding: 2px 16px;
  border-radius: 15px 15px 0px 0px;
  background-color: #45B0B0;
  color: #000000;
}

/* modal body */
.modal-body {
  padding: 6px 16px;
}

/* modal footer */
.modal-footer {
  padding: 2px 16px;
  border-radius: 0px 0px 15px 15px;
  background-color: #45B0B0;
  color: #000000;
}

/* modal user input box */
.message-modal .userInput{
  background-color: #ffffff;
  color: #000000;
  border: #000000 solid 2px;
  border-radius: 30px;
  height: 35px;
}

/* modal user submit box */
.message-modal .submit{
  color: #ffffff;
  background-color:#303030;
  border: #000000 solid 2px;
  border-radius: 30px;
  width: 120px;
  height: 35px;
}